<h1>Edit Customer</h1>

<%= form_with(model: @customer, local: true) do |form| %>
  <% if @customer.errors.any? %>
    <div>
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<a href="<%= customer_path(@customer) %>">Show</a> |
<a href="<%= customers_path %>">Back to Customers</a>